---
layout: default
title: 部落格
---
<section id="Blog-cover">
    <div class="Blog-cover-container">
        <h1>Blog</h1>
    </div>
</section>

<div class="site-wrap">


   <section id="new-article" class="new-article py-5 mt-lg-5 mt-0">
        <div class="container border-bottom wow fadeInUp" style="padding-bottom: 50px">
            <div class="row">
                {% assign newestPost = site.posts.first %}

                {% if newestPost.image %}
                <div class="col-lg-5 col-sm-6 pt-4 pr-3 pl-3 order-1 order-2">
                    <a href="{{ newestPost.url }}">
                        <img src="{{ newestPost.image }}" class="img-fluid rounded-lg" alt="Link to post">
                    </a>
                </div>
                {% endif %}

                <div class="col-lg-7 col-sm-6 pt-4 pr-4 pl-4 order-1">
                    <a href="{{ newestPost.url }}">
                        <h4>{{ newestPost.title }}</h4>
                    </a>
                    {% if newestPost.summary %}
                    <p> {{ newestPost.summary}} </p>
                    {% endif %}
                    <a href="{{ newestPost.url }}" class="cta-btn">Read more</a>
                </div>

            </div>
        </div>
    </section>
</div>


{% assign numberOfPosts = site.posts | size %}
{% if numberOfPosts > 1 %}
<div class="site-section pt-3 wow fadeInUp">
    <div class="container">
        <div class="row">

            {% for post in site.posts offset:1 %}
            <div class="col-lg-4 col-md-6 mb-4 px-3">
                <div class="entry2">
                    <a href="{{ post.url }}">
                        {% if post.image %}
                        <img src="{{ post.image }}" alt="Link to post" class="img-fluid rounded">
                        {% else %}
                        <img src="/assets/img/Adventure.png" alt="Link to post" class="img-fluid rounded">
                        {% endif %}
                    </a>
                    <div class="excerpt">
                        <h5>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h5>
                        <div class="post-meta align-items-center text-left clearfix">
                            {% if post.author %}
                            <span class="d-inline-block mt-1">By {{ post.author }}</span>
                            <span>&nbsp;-&nbsp;</span>
                            {% endif %}
                            <span>{{ post.date | date: "%d.%m.%Y"}}</span>
                        </div>
                        <p>
                            {% if post.summary %}
                            {{ post.summary }}
                            {% endif %}
                        </p>
                        <p><a href="{{ post.url }}">Read more</a></p>
                    </div>
                </div>
            </div>
            {% endfor %} <!-- Iterate over all posts -->

        </div>
    </div>
</div>
{% endif %}  <!-- Check that number of posts is > 1 -->


<!--<section class="call-to-aboutus">-->
<!--    <div class="container">-->
<!--        <div class="text-center">-->
<!--            <h3>About Us</h3>-->
<!--            <a class="cta-btn" href="#">Call To Action</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->



