<section class="text-center mt-5 pt-5 bg-light">
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row" style="font-size: 14px; color: #3e3229">
                <div class="col-lg-4 col-md-4">
                    <a href="/recommend.html"><img class="m-3 mr-1" src="/assets/img/idea.png"
                                                     style="max-width: 10rem"></a>
                    <p style="font-weight: bold">Recommend</p>
                    <p class="mb-0">您有想推薦的大師班嗎 ？</p>
                    <p>歡迎與我們分享資訊</p>
                </div>

                <div class="col-lg-4 col-md-4">
                    <a href="/index.html"><img class="m-3 mr-1" src="/assets/img/find.png"
                                                 style="max-width: 10rem"></a>
                    <p style="font-weight: bold">Search</p>
                    <p class="mb-0">想看看其他大師班</p>
                    <p>點我可以回到搜尋頁面</p>
                </div>


                <div class="col-lg-4 col-md-4">
                    <a href="/contacts.html"><img class="m-3 mr-1" src="/assets/img/help.png"
                                                    style="max-width: 10rem"></a>
                    <p style="font-weight: bold">Help</p>
                    <p class="mb-0">對課程有興趣嗎？</p>
                    <P>讓我們幫您了解活動細節吧！</p>
                </div>
            </div>

        </div>
    </div>
</section>
