$masterclassColor: #7b7b7a;
$festivalColor: #6463a2;
$backgroundColor: #FFFFFF;
$cardLightGreen: #5aaa9b;
$cardDarkGreen: #73aa65;
$cardBlue: #6178aa;
$cardPink: #aa8ea2;
$cardColors: ($cardLightGreen, $cardDarkGreen, $cardBlue, $cardPink);
