$masterclassColor: #646463;
  $festivalColor: #6463a2;
  $backgroundColor: White;
  $cardLightGreen: #5aaa9b;
  $cardDarkGreen: #73aa65;
  $cardBlue: #6178aa;
  $cardPink: #aa8ea2;
  $cardColors: ($cardLightGreen, $cardDarkGreen, $cardBlue, $cardPink);