@import "colors";
@import "fonts";
@import "cardFormatting";

@media (min-width: 768px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 720px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}


$masterclassImageHeight: 250px;
$textFontSize: 12pt;
$borderRadius: 0.7em;

// Here the +1/-1 is to offset SASS indexing that starts from 1 :-)
@for $i from 0 through length($cardColors)-1 {
    $color: nth($cardColors, $i + 1);

    .masterclassPageImage-color-#{$i} {
        background-color: $color;
        border-radius: $borderRadius;
        white-space: normal;
        font-family: $serifHeadingFont;
        color: #FFFFFF;
        font-size: $cardHeadingFontSize;
        font-weight: 400;
        word-wrap: break-word;
    }

    $buttonBorderWidth: 2px;
    .masterclassPageButton-color-#{$i} {
        font-size: $textFontSize;
        border: $buttonBorderWidth solid $color;
        background-color: $backgroundColor;
        color: $color;
        border-radius: $borderRadius;
        white-space: nowrap;
    }

    .masterclassPageButton-color-#{$i}:hover {
        border-color: $color;
        border-width: $buttonBorderWidth;
        background-color: $color;
        color: $backgroundColor;
        text-decoration: none;
    }
    .explanationButton-color-#{$i} {
        @extend .masterclassPageButton-color-#{$i};
        color: darkgray;
        border-color: darkgray;
    }

    .explanationButton-color-#{$i}:hover {

        $evenDarkerGray: darken(darkgray, 15%);
        color: $evenDarkerGray;
        border-color: $evenDarkerGray;
        background-color: $backgroundColor;
    }
}

.masterclassDescription {
    font-size: $textFontSize;
    font-weight: 300;
}

.masterclassDescriptionItem {
    font-weight: 500;
}

.teacherLink a:link {
    color: $cardBlue;
}

.teacherLink a:hover, .teacherLink a:visited {
    color: darken($cardBlue, 20%);
    text-decoration: none;
}


