@media (min-width: 768px) {
  .container {
    width: 600px; } }
@media (min-width: 992px) {
  .container {
    width: 720px; } }
@media (min-width: 1200px) {
  .container {
    width: 900px; } }
.masterclassPageImage-color-0 {
  background-color: #5aaa9b;
  border-radius: 0.3em;
  white-space: normal;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: 18pt;
  font-weight: 400;
  word-wrap: break-word;
  height: 300px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: -35px; }

.masterclassPageButton-color-0, .explanationButton-color-0 {
  font-size: 11pt;
  border: 2px solid #5aaa9b;
  background-color: White;
  color: #5aaa9b;
  border-radius: 0.3em;
  white-space: nowrap; }

.masterclassPageButton-color-0:hover, .explanationButton-color-0:hover {
  border-color: #5aaa9b;
  border-width: 2px;
  background-color: #5aaa9b;
  color: White;
  text-decoration: none; }

.explanationButton-color-0 {
  color: darkgray;
  border-color: darkgray; }

.explanationButton-color-0:hover {
  color: #838383;
  border-color: #838383;
  background-color: White; }

.masterclassPageImage-color-1 {
  background-color: #73aa65;
  border-radius: 0.3em;
  white-space: normal;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: 18pt;
  font-weight: 400;
  word-wrap: break-word;
  height: 300px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: -35px; }

.masterclassPageButton-color-1, .explanationButton-color-1 {
  font-size: 11pt;
  border: 2px solid #73aa65;
  background-color: White;
  color: #73aa65;
  border-radius: 0.3em;
  white-space: nowrap; }

.masterclassPageButton-color-1:hover, .explanationButton-color-1:hover {
  border-color: #73aa65;
  border-width: 2px;
  background-color: #73aa65;
  color: White;
  text-decoration: none; }

.explanationButton-color-1 {
  color: darkgray;
  border-color: darkgray; }

.explanationButton-color-1:hover {
  color: #838383;
  border-color: #838383;
  background-color: White; }

.masterclassPageImage-color-2 {
  background-color: #6178aa;
  border-radius: 0.3em;
  white-space: normal;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: 18pt;
  font-weight: 400;
  word-wrap: break-word;
  height: 300px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: -35px; }

.masterclassPageButton-color-2, .explanationButton-color-2 {
  font-size: 11pt;
  border: 2px solid #6178aa;
  background-color: White;
  color: #6178aa;
  border-radius: 0.3em;
  white-space: nowrap; }

.masterclassPageButton-color-2:hover, .explanationButton-color-2:hover {
  border-color: #6178aa;
  border-width: 2px;
  background-color: #6178aa;
  color: White;
  text-decoration: none; }

.explanationButton-color-2 {
  color: darkgray;
  border-color: darkgray; }

.explanationButton-color-2:hover {
  color: #838383;
  border-color: #838383;
  background-color: White; }

.masterclassPageImage-color-3 {
  background-color: #aa8ea2;
  border-radius: 0.3em;
  white-space: normal;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: 18pt;
  font-weight: 400;
  word-wrap: break-word;
  height: 300px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: -35px; }

.masterclassPageButton-color-3, .explanationButton-color-3 {
  font-size: 11pt;
  border: 2px solid #aa8ea2;
  background-color: White;
  color: #aa8ea2;
  border-radius: 0.3em;
  white-space: nowrap; }

.masterclassPageButton-color-3:hover, .explanationButton-color-3:hover {
  border-color: #aa8ea2;
  border-width: 2px;
  background-color: #aa8ea2;
  color: White;
  text-decoration: none; }

.explanationButton-color-3 {
  color: darkgray;
  border-color: darkgray; }

.explanationButton-color-3:hover {
  color: #838383;
  border-color: #838383;
  background-color: White; }

.masterclassDescription {
  font-size: 11pt;
  font-weight: 300;
  word-spacing: 5px; }

.masterclassDescriptionItem {
  font-weight: 500; }

.teacherLink a:link {
  color: #6178aa; }

.teacherLink a:hover, .teacherLink a:visited {
  color: #3a496b;
  text-decoration: none; }

.fa-facebook-square {
  color: #7591cc; }

.fa-whatsapp {
  color: #61e392; }

.fa-line {
  color: #61e392; }

.fa-envelope {
  color: #8a8a89; }

/*# sourceMappingURL=masterclassPage.css.map */
