@import "colors";


.section-masterclass > * {
  transition-duration: 0.63s;
}

/*masterclass detail*/
.section-masterclass {
  margin-top: 100px;
  margin-bottom: 300px;
  font-size: 14pt;
}

.masterclassSiteHeading {
  font-weight: 600;
  margin-bottom: 40px;
}


.section-masterclass > p {
  list-style: none;
}

.section-masterclass > hr {
  $sectionSpacing: 40px;
  margin-top: $sectionSpacing;
  margin-bottom: $sectionSpacing;
}


.web-link {
  width: 20px;
}

$masterclassImageHeight: 200px;
.masterclassPageImage {
  background-color: $masterclassColor;
  width: 100%;
  height: $masterclassImageHeight

}

.masterclassPageImageText {
  font-family: 'Playfair Display', serif;
  color: $backgroundColor;
  font-size: 40px;
  font-weight: 500;

  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

$buttonBorderWidth: 1px;
.masterclassPageButton {
  border-color: $masterclassColor;
  border-width: $buttonBorderWidth;
  background-color: $backgroundColor;
  color: $masterclassColor;
}

.masterclassPageButton:hover {
  border-color: $masterclassColor;
  border-width: $buttonBorderWidth;
  background-color: $masterclassColor;
  color: $backgroundColor;
}

