.navbar-toggler {
    text-align: right;
}

$logoColor: #947c56;
$notSelectedColor: #eb9c20ff;
.navbar-light .navbar-nav .nav-link.active {
    color: darken($logoColor,20%);
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: darken($logoColor,20%);
}

.navbar-light .navbar-nav .nav-link {
    color: $logoColor;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darken($logoColor, 10%);
}
