<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/effects.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% feed_meta %}
    {% seo %}
</head>

<body>
<header style="" class="container-fluid nav-container sticky-top">
    <nav aria-atomic="true" class="main-nav float-right d-none d-lg-block">
        <ul>
            {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

{{ content }}


<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/lib/mobile-nav/mobile-nav.js"></script>


</body>
</html>


<!--
<body>
{% include navigation.html %}
{{ content }}
</body>
-->