---
layout: default
description: 歐洲音樂營／大師班資訊分享平台
image: /assets/img/logo_big.png
lang: zh_TW
---
{% assign cardColorID = page.title | size | modulo: site.data.numberOfColors %}


<!--<a href="https://line.me/R/msg/text/?TONEartiv 音樂營分享平台" target="_blank">Share on LINE</a>-->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u={{page.url | prepend: site.url }}">Share on facebook</a>-->
<!--<a href="https://wa.me/?text=TONEartiv 音樂營分享平台 {{page.url | prepend: site.url }}">Share on whatsapp </a>-->

<!--TODO Wechat-->

<div class="container-fluid mb-5">
    <div class="row mt-5 pt-5">
        <div class="col-2">

        </div>
        <div class="col-md-7">
            <div class="container text-justify pb-5 pull-right">
                <!--Top banner-->
                <div class="pb-3">
                    <div class="masterclassPageImage-color-{{ cardColorID }} p-5 text-center">
                        {{ page.title }}
                    </div>
                </div>


                <!--Masterclass description-->
                {% assign masterclassDescriptionOptions = "pt-3" %}
                <div class="container-fluid px-0 pt-3 masterclassDescription">
                    <div class="row" style="margin: auto">
                        <div class="col-md-4">
                            <h6 class="masterclassDescriptionItem {{ masterclassDescriptionOptions }}">樂器</h6>
                            {% include functions/generateCommaSeperatedList.html list=page.instruments %}
                        </div>
                        <div class="col-md-4">
                            <h6 class="masterclassDescriptionItem {{ masterclassDescriptionOptions }}">
                                時間
                            </h6>
                            <p>{% include functions/taiwanDateFormat.html input=page.startDate %}-
                                {% include functions/taiwanDateFormat.html input=page.endDate %}</p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="masterclassDescriptionItem {{ masterclassDescriptionOptions }}">
                                地點
                            </h6>
                            <p>{{ page.city }}, {{ page.country }}</p>
                        </div>
                    </div>


                    <h6 class="masterclassDescriptionItem {{ masterclassDescriptionOptions }}">授課教授</h6>
                    <div class="row" style="margin: auto">
                        {% for teacher in page.teachers %}
                        <div class="col-md-4 my-2 teacherLink">
                            <a target="_blank" rel="noopener noreferrer" href="{{teacher.link}}">{{ teacher.name }}</a>
                        </div>
                        {% endfor %}
                    </div>


                    <h6 class="masterclassDescriptionItem {{ masterclassDescriptionOptions }}">費用</h6>
                    {% for line in page.feeExplanation %}
                    <p> {{ line }}</p>
                    {% endfor %}


                    <div style="font-size:small">
                        &#10045 以上資料由各音樂營官方網站提供，如資料有出入請以官方網站為主。在這裡我們只為您提供課程費用以及住宿費用，其餘支出(如交通費用,額外伙食費等)皆請自行評估或來信詢問！
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalLongTitle">費用不包含:</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p>旅途中花費(如........)</p>
                                    <p>音樂營活動期間,大部份主辦單位會提供住宿或安排寄宿家庭,相關費用請以各官網顯示價錢為準</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="line-height:30px">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ">
            <!--Button group-->
            {%if page.registrationLink or page.masterclassLink %}

            {% if page.registrationLink %}
            <p class="py-3">
                <a target="_blank" rel="noopener noreferrer" href="{{ page.registrationLink }}"
                   class="masterclassPageButton-color-{{ cardColorID }} p-2">報名連結</a>
            </p>
            {% endif %}
            {% if page.masterclassLink %}
            <p class="py-3">
                <a target="_blank" rel="noopener noreferrer" href="{{ page.masterclassLink }}"
                   class="masterclassPageButton-color-{{ cardColorID }}    p-2">官方網站</a>
            </p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% include quicklinks.html %}

