---
layout: default
---
<main class="site-wrap offset-lg-1 px-2">
    <section class="site-section">
        <div class="container-fluid px-lg-5">
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content px-lg-5 pt-4 pb-5" style="line-height: 1.85em">
                    <div class="post-content-body pb-5">
                        <h3 class="pb-2">{{ page.title }}</h3>
                        <div class="post-meta align-items-center text-left clearfix">
                            {% if page.author %}
                            <span class="d-inline-block mt-1">{{ page.author }}</span>
                            <span>&nbsp;-&nbsp;</span>
                            {% endif %}
                            <span>{{ page.date | date: "%d.%m.%Y"}}</span>
                        </div>
                        {{ content }}
                        <div class="row pl-3 mb-4" style="font-size: 1.5rem">
                            <a href="https://line.me/R/msg/text/?TONEartiv 音樂營分享平台" target="_blank"><i
                                    class="fab fa-line m-2"></i></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}"><i
                                    class="fab fa-facebook-square m-2"></i></a>
                            <a href="https://wa.me/?text=TONEartiv 音樂營分享平台 {{ page.url | prepend: site.url }}"><i
                                    class="fab fa-whatsapp m-2"></i></a>
                            <a href="mailto:?subject=TONEartiv 音樂營分享平台&body={{ page.url | prepend: site.url }}"><i
                                    class="far fa-envelope m-2"></i></a>
                            <p style="font-size: 12px">*文章為Toneartiv版權所有 / 歡迎分享但請標明文字出處，感謝您的配合😉</p>

                            <!--TODO Wechat-->
                        </div>
                    </div>
                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar pt-5 mt-5">
                    <!-- END sidebar-box -->
                    <div class="sidebar-box pl-lg-5">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    音樂人訪談
                                    <span>(0)</span>
                                </a>
                            </li>-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    德國生活&旅遊
                                    <span>(0)</span>
                                </a>
                                <!--<div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">奧地利‧Bregenz</a>
                                </div>-->
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    國際音樂節
                                    <span>(2)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://toneartiv.com/2020/04/15/rigoletto-stag">2019布雷根茲音樂節湖上歌劇(上)</a>
                                    <a class="dropdown-item" href="https://toneartiv.com/2020/04/15/rigoletto-story">2019布雷根茲音樂節湖上歌劇(下)</a>
                                </div>
                            </li>
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    音樂院考試
                                    <span>(10)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    德文學習
                                    <span>(2)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <!-- END sidebar-box -->
                </div>
                <!-- END sidebar -->

            </div>
        </div>
    </section>
</main>




















