---
layout: default
---
<main class="site-wrap offset-lg-1 px-2">
    <section class="site-section">
        <div class="container-fluid px-lg-5">
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content px-lg-5 pt-3">
                    <div class="post-content-body">
                        <h3 class="pb-2">{{ page.title }}</h3>
                        <div class="post-meta align-items-center text-left clearfix">
                            {% if page.author %}
                            <span class="d-inline-block mt-1">{{ page.author }}</span>
                            <span>&nbsp;-&nbsp;</span>
                            {% endif %}
                            <span>{{ page.date | date: "%d.%m.%Y"}}</span>
                        </div>
                        {{ content }}
                    </div>
                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar pt-5 mt-5">
                    <!-- END sidebar-box -->
                    <div class="sidebar-box pl-lg-5">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    音樂人訪談
                                    <span>(22)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    德國生活&旅遊
                                    <span>(13)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    國際音樂節
                                    <span>(5)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    音樂院考試
                                    <span>(10)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    德文學習
                                    <span>(2)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END sidebar-box -->
                </div>
                <!-- END sidebar -->

            </div>
        </div>
    </section>
</main>




















